/*
    Revdep config
*/

@import "macchiato.css" ;

* { 
  /* padding-top: 2px; */
  font-family: "FontAwesome", "JetBrains Mono";
  font-size: 13px;
  min-height: 0;
  font-weight: bold;
}

  window#waybar {
    border-top: 10px;
    border: transparent;
    background: rgba(41, 49, 82, 0.75);
    color: white;
  }

  #custom-home { 
      margin-right: 5px;
      background-color: @base; 
      color: white;
      padding-left: 8px;
      padding-right: 8px;
      font-size: 9px;
      margin-bottom: 1px;
  } 

  #workspaces {
    border-radius: 8px;
  }
  
  workspaces button {
  /*  padding-left: 5px;
    padding-right: 5px;*/
    min-width: 0;
    color: @text;
  }
  
  #workspaces button.active {
    color: @yellow;
  }
  
  #workspaces button.urgent {
    color: @yellow;
  }
  
  #workspaces button:hover {
    color: @teal;
  }

  #custom-playerctl {

    background-color: @base;
    border-radius: 5px;
    color: @yellow;
    padding: 2px 10px 0 13px;
    margin-top: 1px;
  
  }

  #custom-playerctl.urgent {
    background: @base;
    color: @green;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }

  #hyprland-window {
    color: white;
    padding-right: 10px;
    padding-left: 10px;
  }

  #custom-gammastep{
  padding-right: 5px;
  padding-left: 10px;
  }
  
  #backlight, #pulseaudio, #battery {
    color: white;    
    padding-right: 5px;
  }

  #custom-command { 
    background-color: @base; 
    color: @teal;
    padding: 2px 5px 0 10px;
    font-size:9px;
    margin-top: 1px;
    border-radius: 5px;
  } 
  
  #network { 
    /*background-color: @base;*/
    color: white;
    margin-top: 5px;

  }
  
  #clock {
      color: white;
      padding-right: 10px;
  }

  #tray {
      border-radius: 5px;
      padding-right: 10px;
    }