# Get External IP / Internet Speed
alias myip="curl https://ipinfo.io/json" # or /ip for plain-text ip
alias speedtest="curl -s https://raw.githubusercontent.com/sivel/speedtest-cli/master/speedtest.py | python -"

# Quickly serve the current directory as HTTP
alias serve='ruby -run -e httpd . -p 8000' # Or python -m SimpleHTTPServer :)
alias gagc='git add . && git commit -m '
alias getout='pkill -KILL -u $USER'
alias update='sudo pacman -Syyu'
alias codew='code --enable-features=UseOzonePlatform --ozone-platform=wayland'
alias waykill='killall waybar && ~/scripts/waybar.sh'
alias wbar='~/scripts/waybar.sh &'
alias lista='pacman -Qet | awk "{print $1}" > $HOME/.dotfiles/packages.txt'
alias exercism='/home/andrea/bin/exercism/exercism'
alias code='code --password-store="gnome"'
alias reboot='sudo reboot'
alias tdown='/home/andrea/.local/bin/telegram-download'
# current hyprland log
alias hyprlog='cat /tmp/hypr/$(ls -t /tmp/hypr | head -n 1)/hyprland.log'
# last session hyprlandlog
alias hyprlast='cat /tmp/hypr/$(ls -t /tmp/hypr | head -n 2 | tail -n 1)/hyprland.log'
alias rmouse="/home/mutley/mouserestart.sh"
